<div class="container">
    <h1>STS Printer Status Admin Panel</h1>
    <a class="btn btn-secondary" href="/users/" role="button">Edit Users</a>
    <a class="btn btn-secondary" href="/printers/add" role="button">Add a Printer</a>
    {{#if groups}}
    <h3>Groups:</h3>
    {{#each groups}}
    <form action="/groups/{{_id}}" method="post">
        <input type="hidden" name="_method" value="delete">
        <div class="d-flex justify-content-left">
            <button type="submit" class="btn btn-danger" style="margin-right: 10px"><i
                    class="bi bi-trash-fill"></i></button>
            <h4><strong>{{groupName}}:</strong></h4>
        </div>

    </form>
    {{#if printers}}
    <table class="table" style="table-layout:fixed;">
        <thead>
            <tr>
                <th scope="col">Location</th>
                <th scope="col">URL</th>
                <th scope="col">Model</th>
                <th scope="col">Contact</th>
                <th scope="col">Email Switch</th>
                <th scope="col">Delete</th>

            </tr>
            {{#each printers}}
            <tr>
                <td scope="col">{{location}}</td>
                <td scope="col"><a href="{{url}}">{{url}}</a></td>
                <td scope="col">{{model}}</td>
                <td scope="col">{{contact.firstname}} {{contact.lastname}}</td>
                <td class="col">
                    <form action="/printers/{{_id}}/email" method="post">
                        <input type="hidden" name="_method" value="put">
                        {{#if email}}
                        <button class="btn btn-success" type="submit"><i class="bi bi-envelope-fill"></i></button>
                        {{else}}
                        <button class="btn btn-danger" type="submit"><i class="bi bi-envelope"></i></button>
                        {{/if}}
                    </form>
                </td>
                <td scope="col">
                    <form action="/printers/{{_id}}" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                    </form>
                </td>

            </tr>
            {{/each}}
        </thead>
    </table>
    {{else}}
    <p>There are no printers in this group!</p>
    {{/if}}
    {{/each}}
    {{else}}
    <h3>You haven't created any groups!</h3>
    {{/if}}

    <form action="/groups/add" method="POST">
        <div class="form-group">
            <h4>Create a new Printer Group:</h4>
            <input type="text" class="form-control" id="groupName" name="groupName" placeholder="Group Name">
            <small id="groupName" class="form-text text-muted"></small>
            <input type="submit" value="Post" class="btn btn-primary">
        </div>
    </form>
</div>