<div class="container">
    {{#if p}}
    <h2>Editing the {{p.location}} Printer</h2>
    <form action="/printers/{{p._id}}" method="post">
        <input type="hidden" name="_method" value="put">
        <div class="row">
            <div class="col">
                <label for="Location">Printer Location</label>
                <input type="text" class="form-control" id="Location" placeholder="Printer Location" name="location"
                    value="{{p.location}}">
            </div>
            <div class="col">
                <label for="url">Printer IP address</label>
                <input class="form-control" id="url" placeholder="Printer IP" name="url" value="{{p.url}}">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="modelSelect">Select a compatible model:</label>
                <select name="model" id="modelSelect" name="model" value="{{p.model}}">
                    <option value="M577">M577</option>
                    <option value="M578">M578</option>
                    <option value="M605">M605 (BW)</option>
                    <option value="M608">M608 (BW)</option>
                    <option value="X57945">X57945</option>
                </select>
            </div>
            <div class="col">
                <label for="userSelect">Select a user:</label>
                <select list="users" name="user" id="userSelect" value="{{p.contact.firstname}} {{p.contact.lastname}}">
                    {{#each users}}
                    <option value="{{firstname}} {{lastname}}">{{firstname}} {{lastname}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="groupSelect">Group:</label>
                <select name="group" id="groupSelect" name="group" value="{{p.group.groupName}}">
                    {{#each groups}}
                    <option value="{{groupName}}">{{groupName}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col">
                <label for="tagInput">Quantum Service Tag</label>
                <input class="form-control" id="tag" placeholder="Service Tag" name="tag" value="{{p.tag}}">
            </div>
        </div>
        <input type="submit" value="Post" class="btn btn-primary">
    </form>
    {{else}}
    <h2>Add a printer</h2>
    <form action="/printers/add" method="post">
        <div class="row">
            <div class="col">
                <label for="Location">Printer Location</label>
                <input type="text" class="form-control" id="Location" placeholder="Printer Location" name="location">
            </div>
            <div class="col">
                <label for="url">Printer IP address</label>
                <input class="form-control" id="url" placeholder="Printer IP" name="url">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="modelSelect">Select a compatible model:</label>
                <select name="model" id="modelSelect" name="model">
                    <option value="M577">M577</option>
                    <option value="M578">M578</option>
                </select>
            </div>
            <div class="col">
                <label for="userSelect">Select a user:</label>
                <select list="users" name="user" id="userSelect">
                    {{#each users}}
                    <option value="{{firstname}} {{lastname}}">{{firstname}} {{lastname}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="groupSelect">Group:</label>
                <select name="group" id="groupSelect" name="group">
                    {{#each groups}}
                    <option value="{{groupName}}">{{groupName}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col">
                <label for="tagInput">Quantum Service Tag</label>
                <input class="form-control" id="tag" placeholder="Service Tag" name="tag">
            </div>
        </div>
        <input type="submit" value="Post" class="btn btn-primary">
    </form>
        <h3 style="padding-top: 50px">Import Printers:</h3>
        <form action="/printers/import" method="POST" encType="multipart/form-data">
            <input class="form-control" type="file" id="formFile" name="printerImport">
            <input type="submit" value="Submit" class="btn btn-primary">
            <p><strong>NOTE:</strong> This function will not check for duplicate printers, though it will check for valid user email addresses.
                If an email address is not associated with a user, then no printers after the error will be added.</p>
            <p>If model is left blank, then the printer will be entered as an M577. Possible values are 'M577', 'M578', 'M605', 'M608'</p>
            <p>If contact_email is left blank, then it will be set to student.technology@wustl.edu. Make sure this user exists before running the script.</p>
            <a href="/printers/import">Download Sample</a>
        </form>
    {{/if}}
</div>
